* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background-color: #ffe6f0;
}

/* HEADER */
header {
    background-color: #add;
    color: white;
    text-align: center;
    padding: 25px;
}

/* NAV */
nav {
    background-color: #000080;
    text-align: center;
    padding: 12px;
}

nav a {
    color: #333;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: white;
}

/* SECTION */
main {
    padding: 20px;
}

.content {
    display: none;
    animation: fade 0.4s ease;
}

.content.active {
    display: block;
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* PROFILE */
.profile-section {
    max-width: 900px;
    margin: auto;
}

.profile-container {
    display: flex;
    gap: 30px;
    align-items: center;
}

.profile-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 4px solid #ff9ecb;
    object-fit: cover;
}

/* KARYA */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

/* MEDIA */
.media-img {
    width: 300px;
    margin-top: 10px;
}

/* KONTAK */
.kontak-section {
    padding: 50px 10%;
}

.subtitle {
    text-align: center;
    margin-bottom: 40px;
    color: #555;
}

.kontak-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.info-kontak,
.form-kontak {
    flex: 1;
    background: #6495ed;
    color: white;
    padding: 30px;
    border-radius: 15px;
}

.info-box {
    display: flex;
    align-items: center;
    background: white;
    color: #333;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.info-box span {
    font-size: 24px;
    margin-right: 15px;
}

.form-kontak input,
.form-kontak textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: none;
}

.form-kontak button {
    width: 100%;
    padding: 12px;
    background: white;
    color: #4682b4;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

/* FOOTER */
footer {
    background-color: #4169e1;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .profile-container,
    .kontak-container {
        flex-direction: column;
        text-align: center;
    }
}